#mainins{
  background-color: red;
  color:white;
  padding:5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#command{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: yellow;
  font-size: 20px;
  padding : 5px;
  margin:5px;
  display:block;
  font-style: italic;
}
#command a{
  font-size: 20px;
}
* { 
    padding:0;
    margin:0; 
    font-family: sans-serif;
    }
    body{
      padding-left: 70px;
  }   
h1{
    color:rgb(2, 10, 172) ;
    margin-top: 20px;
    
} 


ul li{
    color:red;
}
.blue{
    color:blue
}
#pink{
    color:#FF00CC;
}
button[type="submit"]{
  background-color: blue; color:white;  
}
#parent li{
  color:blueviolet;
  list-style-type:square;
  list-style-image: none;
}
h3, p{
    color:rgb(56, 109, 3);
    font-weight: bold;
    
}


.inherit{
  color:brown;
}
.inherit p{
  color:inherit 
}
/* intrinsic vs extrinsic */
.sizing {
    text-transform: uppercase;
    font-size: 5rem;
    border: 5px solid;
    width: 200px;
  }
  
  .intrinsic {
    width: min-content;
  }

  /* .flowerEx{
    width:300px;
    border:5px solid;
    width: min-content;
  }
  .flowerEx_img img{
    width: 400px;
  } */


  /* box model */
  .box_model{
    /* box-sizing: border-box; */
    width:400px;
    height:200px; 
    padding:50px;
    border: 10px solid black;
    background-color: blue;
    margin: 50px;
    
    
  }

.background{
  width:400px;
  height:200px;
  border:5px solid black;
  background-color: yellow;
  background-image: url(./images/andmta_logo.jpg);
  background-repeat: no-repeat;
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  background-position:100px;
  background-position-x: center;
  background-attachment: fixed;
  background-attachment: scroll;

}

body{
  background-image: url(./images/andmta_logo.jpg);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 50px;
  /* background-attachment: scroll; */
}
.text{
  color:red;
  direction: rtl;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-indent: 20px;
  /* text-align: center; */
  /* text-decoration: overline; */
  text-decoration: line-through;
  /* text-decoration: underline; */
  text-transform:capitalize;
  /* text-transform:uppercase; */
  /* text-transform:lowercase; */
  text-shadow:4px 4px 8px blue
  


}
.text-2{
  /* white-space: normal; */
  /* white-space: nowrap; */
  /* white-space: pre; */
  /* white-space: pre-wrap; */
  white-space: pre-line;
 
}
.font{
  font-family: 'Fuzzy Bubbles', cursive;
  font-style:normal;
  font-style:italic;
  /* font-variant: small-caps; */
  font-weight:900;
  /* font-weight: lighter; */
  font-size:25px;
  
}
#image img{
  border:3px dashed red;
  /* height:200px; */
  width:300px;
  opacity:0.5;

}
a{
  font-size: 30px;
  font-weight: bold;
}
a:link {color: #030303} 
   a:visited {color: #ff1908}
   a:hover {color: #FFCC00}
   a:active {color: #FF00CC}

   
ul li{
  /* margin: 30px; */
  /* list-style-type:none; */
  /* list-style-type:square; */
  list-style-type:upper-roman;
  /* list-style-type:decimal-leading-zero; */
  list-style-position:inside;
  /* list-style-position:outside; */
  /* list-style-position:none; */
  list-style-image: url(/images/icon.png);
}
.cursor{
  cursor:pointer;
  cursor: move;
}
.scroll{
  height:100px;
  width:300px;
  overflow:auto;
  overflow:scroll;

}
.flexbox_item{
  background-color: coral;
  padding: 10px;
  border:black solid 2px;
  height: 80px;
  /* flex:auto; */
  /* flex: 1; */
  display: flex;
  
  
  /* align-items: center; */
  /* align-self: center; */
  
  
  
}
.flexbox{
  display: flex;
  height: 300px;
  background-color: cadetblue;
 
  
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* flex:1; */
  justify-content: center;
  align-content: center;
  

}
.flex{
  height:100px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  /* align-self: center; */
  align-items: center;
   /* place-content: center; */
  /* place-items: center;  */
}
.child{
  background-color: #FFCC00;
  padding: 10px;
  border:black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.parent{
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* grid-template-columns: repeat(4,1fr); */
  /* grid-template-columns: repeat(12, 10%); */
  /* grid-template-columns: repeat(12, minmax(0,1fr)); */
  
  grid-template-rows: 75% 25%;
  grid-template-rows: 5cm 2cm;
  /* gap: 20px; */
  row-gap: 10px;
  column-gap: 10%;
}
.position{
  display:flex;
  height:500px;
  gap: 20px;
  background-color: #fff;
  
}
.position div{
  border: #030303 solid 2px;
  height:50px;
  flex:1;
  display: flex;
  place-content: center;
  place-items: center;
}
.item1{
  position: static;
}
.item2{
  position: relative;
  top: 40px; left: -80px;
}
.item3{
  background-color: #ff1908;
  position: fixed;
  bottom: 0;
  right: 0;
  

}
.item4{
  width:50px;
  height:fit-content !important;
  background-color:#FFCC00;
  writing-mode: vertical-lr;
  text-orientation: upleft;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  position: absolute;
  top:0;
  left:0;
}
.item5{
  background-color: #ff1908;
  display: block;
  width: 200px;
  height:30px;
  position: sticky;
  top: 10px;

}